:root{
    --Verde-Pastel: #92A760;
    --Verde: #436129;
    --Blanco:#FFFAD4;
    --Verde-Pastel-Claro: #AEC279 ;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.btnStyle:hover{
  background-color: var(--Verde);
  transition: 0.5s;
}
.redes a:hover{
  transform: scale(1.1);
  transition: 0.2s;
}

body{
    background-color: var(--Blanco);
}
.menu{
    background-color: var(--Verde-Pastel-Claro);
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 1.5em;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
}

.contentMenuItems{
    display: flex;
    flex-direction: row;
}

.contentMenuItems li{
    list-style: none;
    padding-left: 1em;
    font-size: 25px;
}

.contentMenuItems li a{
    text-decoration: none;
    color: black
}

.contentMenuItems li a:hover{
  color: var(--Verde);
  transition: 0.3s;
}

h1{
    margin: 1em 0em 1.5em 0em;
    padding-top: 1.5em;
    margin-left: 1em;
    font-size: 70px;
    color: var(--Verde);
}

span{
    color: var(--Verde-Pastel);
}

.inicio{
    text-align: left;
}

.inicio h2{
    text-align: left;
    margin-left: 1em;
    font-size: 65px;
    color: var(--Verde);
}

.documentacionBtnContent{
    text-align: left;
    display: flex;
}

.documentacionBtnContent img{
    margin-left: 35em;
}

.botones{
    margin-top: 7em;
    margin-left: 4em;
    display: flex;
}
.redes{
  margin-left: 1em;
}
.botones img{
    margin-left: 1em;
}

.documentacionBtn{
    padding: 0.5em;
    background-color: var(--Verde-Pastel);
    font-size: 35px;
    border-radius: 15px;
    text-decoration: none;
    color: var(--Blanco);
    margin-bottom: 3em;
}

.queEsGreenUx{
    margin-top: 5em;
    text-align: left;
    border-top: var(--Verde-Pastel) double 5px;
    text-align: center;
}

.imgContentQueEs{
    padding: 3em 0em 1em 7em;
    text-align: left;
}

.queEsGreenUx h2{
    margin: 2em 0em 1em 0em;
    text-align: center;
    font-size: 60px;
    color: var(--Verde);
}

.queEsGreenUx p{
    text-align: left;
    font-size: 35px;
    padding: 0em 3em 3em 3em ;
}

.imagenesUX{
    margin-top:2em ;
    padding-bottom: 2em;
    border-bottom: var(--Verde-Pastel) double 5px;
}

.imagenesUX h2{
    font-size: 40px;
    margin: 4em 0em 2em 0em;
    text-align: center;
}

.imgA{
    padding-right:3em;
}

.aprendeBtn{
    padding: 0.7em;
    background-color: var(--Verde-Pastel);
    font-size: 30px;
    border-radius: 15px;
    text-decoration: none;
    color: var(--Blanco);
    margin: 0.5em 0em 5em 0em;
}

.contentConsultora{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.txtConsultora{
    margin: 5em;
}

.contentConsultora img{
    margin-left: 30em;
}

.txtConsultora h2{
    font-size: 60px;
    color: var(--Verde);
}
.txtConsultora h3{
    font-size: 25px;
    color: var(--Verde);
}

.consultora p{
    padding: 2em 0em 2em 3.7em;
    font-size: 25px;
    color: var(--Verde);
    width: 60%;
}

.contactoBtn{
    padding: 0.5em;
    background-color: var(--Verde-Pastel);
    font-size: 28px;
    border-radius: 15px;
    text-decoration: none;
    color: var(--Blanco);
    margin: 0.5em 0em 5em 3em;
}

.consultora{
    padding-bottom: 7em;
}

.buttonAndListContent{
    display: flex;
    
}

.listServicios{
    margin: 0em 10em 0em 0em;
}

.listServicios h4{
    color: var(--Verde);
    font-size: 25px;
    padding-bottom: 1em;
    margin-left: 3em ;
}

.listServicios ul li{
   padding-bottom: 1em;
   font-size: 25px;
   color: var(--Verde);
   margin-left: 4em;
}


footer {
    background-color: #124329;
    margin-top: 7em;
    padding: 3em;
  }
  footer nav {
    display: flex;
    justify-content: space-around;
  }
  footer img {
    border-radius: 100px;
  }
  footer nav h4 {
    color: white;
  }
  footer nav ul {
    list-style: none;
  }
  footer nav ul li {
    padding: 1em 1em 1em 0em;
  }
  footer nav ul li a {
    text-decoration: none;
    color: beige;
  }









  /*documentacion*/

  .menuTopDoc{
    background-color: var(--Verde-Pastel-Claro);
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 1.5em;
}

.menuDoc{
    padding-right: 0em;
    margin-right: 4em;
    height: 50%;
    width: 190%;
    position: sticky;
    top: 200px;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 30em;
}
.menuDoc h2 a{
    text-decoration: none;
    color: rgb(77, 77, 77);
}
  .contentTheme{
    margin: 1em 3em 0em 3em;
    width: 100%;
  }

  .item{
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 17px;
    font-weight: bold;
    width: 85%;
  }
  .subItemA{
    text-decoration: none;
    color: rgb(77, 77, 77);
  }
  .subItem{
    list-style:circle ;
    margin-left: 2em;
    margin-right: 5em;
    font-size: 16px;
    width: 100%;
  }

  .contentDoc{
    display: flex;
    flex-direction: row-reverse;
  }

  .h1Doc{
    font-size: 70px;
    text-align: center;
    padding-top: 0em;
  }

  .separate{
    font-size: 15px;
    border-bottom: 3px solid var(--Verde-Pastel);
    margin-left: 2em;
    padding-top: 1em;
  }

  .contentArea{
    margin-bottom: 0.5em;
  }

  /*Text*/
  .sectionContentTXT{
    margin-top: 2em;
  }
  hr{
    height: 5px;
    background-color: #124329;
  }


  .contentText{
    margin-right: 2em;
  }

  .contentText h2{
    font-size: 30px;
    color: #124329;
  }

  .contentText p{
    font-size: 18px;
  }

  .titleCambioPag{
    font-weight: bold;
    padding-top: 2em;
  }

  /*Text list*/

  .subItemTXT{
    margin-left: 2em;
  }

  .subItemTXT h3{ 
   font-size: 22px;
   padding-bottom: 0.2em;
   border-bottom: 2px solid var(--Verde);
  }

  .subItemTXT li{
    margin-top: 1.5em;
  }

/*Responsive*/

/*Documentacion*/
@media only screen and (max-width: 600px) {

  footer {
    background-color: #124329;
    margin-top: 1em;
    padding: 3em 1em 1em 1em;
  }
  footer img {
    display: none;
  }
  footer nav {
    display: flex;
    justify-content: space-around;
  }
  footer nav ul {
    list-style: none;
    text-align: center;
  }
  footer nav ul li {
    padding: 0.5em;
  }

      .menuTopDoc{
    background-color: var(--Verde-Pastel-Claro);
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 1em 0.5em 0.5em 0.5em;
    font-size: 20px;
    
}
.contentMenuItems li{
  font-size: 15px;
  padding-left: 1em;

}

.menuDoc{
    padding-right: 2em;
    margin-right: 0em;
    height: auto;
    width: 1000%;
    position: sticky;
    top: 0px;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 30em;
}
.menuDoc h2 a{
    text-decoration: none;
    color: rgb(77, 77, 77);
}
  .contentTheme{
    margin-left: 1em;
    width: 100%;
  }

  .item{
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 10px;
    font-weight: bold;
    margin-right: 5em;
    width: 100%;
  }
  .subItemA{
    text-decoration: none;
    color: rgb(77, 77, 77);
  }
  .subItem{
    list-style:circle ;
    margin-left: 0em;
    margin-right: 0em;
    font-size: 11px;
    width:100%
  }

  .contentDoc{
    display: flex;
    flex-direction: row-reverse;
  }

  .h1Doc{
    font-size: 30px;
    text-align: center;
    margin: 0em;
    padding: 0em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .separate{
    font-size: 11px;
    border-bottom: 3px solid var(--Verde-Pastel);
    margin-left: 1em;
    padding-top: 1em;
  }

  .contentArea{
    margin-bottom: 0.5em;
  }

  /*Text*/
  .sectionContentTXT{
    margin-top: 2em;

  }
  hr{
    height: 5px;
    background-color: #124329;
  }


  .contentText{
    margin-right: 0em;
  }

  .contentText h2{
    font-size: 20px;
    color: #124329;
  }

  .contentText p{
    font-size: 15px;
  }

  .imgMatrizTask{
    height: 200px;
    width: 250px;
  }

  /*Text list*/

  .subItemTXT{
    margin-left: 2em;
  }

  .subItemTXT h3{ 
   font-size: 19px;
   padding-bottom: 0.2em;
   border-bottom: 2px solid var(--Verde);
  }

  .subItemTXT li{
    margin-top: 1.5em;
  }

  /*Index*/

h1{
  margin: 1em 0em 1.5em 0em;
  padding-top: 1em;
  margin-left: 0em;
  font-size: 50px;
  text-align: center;
  color: var(--Verde);
}

span{
  color: var(--Verde-Pastel);
}

.inicio{
  text-align: left;
}

.inicio h2{
  text-align: left;
  margin-left: 0.5em;
  font-size: 40px;
  color: var(--Verde);
}

.documentacionBtnContent{
  text-align: left;
  display: flex;
}

.documentacionBtnContent img{
  margin-left: 0em;
  height: 80px;
  width: 80px;
}

.botones{
  margin-top: 7em;
  margin-left: 4em;
  display: flex;
  flex-direction: column;
}
.redes{
margin-left: 0em;
text-align: center;
}
.botones img{
  margin-left: 0em;
  text-align: center;
}

.documentacionBtn{
  padding: 0.6em;
  background-color: var(--Verde-Pastel);
  font-size: 25px;
  border-radius: 15px;
  text-decoration: none;
  color: var(--Blanco);
  margin-bottom: 3em;
}

.queEsGreenUx{
  margin-top: 5em;
  text-align: left;
  border-top: var(--Verde-Pastel) double 5px;
  text-align: center;
}

.imgContentQueEs{
  padding: 3em 0em 1em 7em;
  text-align: left;
}

.queEsGreenUx h2{
  margin: 2em 0em 1em 0em;
  text-align: center;
  font-size: 40px;
  color: var(--Verde);
}

.queEsGreenUx p{
  text-align: left;
  font-size: 30px;
  padding: 0em 1em 3em 1em ;
}

.imagenesUX{
  margin-top:2em ;
  padding-bottom: 2em;
  border-bottom: var(--Verde-Pastel) double 5px;
}

.imagenesUX h2{
  font-size: 30px;
  margin: 4em 0em 2em 0em;
  text-align: center;
}

.imgA{
  padding-right:0em;
}

.aprendeBtn{
  padding: 0.7em;
  background-color: var(--Verde-Pastel);
  font-size: 23px;
  border-radius: 15px;
  text-decoration: none;
  color: var(--Blanco);
  margin: 0.5em 0em 5em 0em;
}

.contentConsultora{
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.txtConsultora{
  margin: 2em 0em 2em 1em;
}

.contentConsultora img{
  margin-left: 0em;
  display: none;
}

.txtConsultora h2{
  font-size: 50px;
  color: var(--Verde);
  text-align: center;
}
.txtConsultora h3{
  font-size: 20px;
  color: var(--Verde);
  text-align: center;
  margin:  0.5em 1em 1em 1em;
}

.consultora p{
  padding: 2em 1em 2em 1em;
  font-size: 20px;
  color: var(--Verde);
  width: 90%;
}

.contactoBtn{
  padding: 0.5em;
  background-color: var(--Verde-Pastel);
  font-size: 28px;
  border-radius: 15px;
  text-decoration: none;
  color: var(--Blanco);
  margin: 0.5em 0em 5em 0.5em;
  text-align: center;
}

.consultora{
  padding-bottom: 7em;
}

.buttonAndListContent{
  display: flex;
  
}

.listServicios{
  margin: 0em 1em 0em 0em;
}

.listServicios h4{
  color: var(--Verde);
  font-size: 25px;
  padding-bottom: 1em;
  margin-left: 0.8em ;
}

.listServicios ul li{
 padding-bottom: 1em;
 font-size: 20px;
 color: var(--Verde);
 margin-left: 2em;
}

}


